{{define "main"}}
<header class="header group">
  <h1>stars</h1>
  <p><a href="/logout" class="sign-out"><span class="octicon octicon-sign-out"></span></a></p>
</header>

<section class="main">
  {{range .}}
  <article class="group">
    <div class="avatar">
      <a href="{{.HTMLURL}}">
        <img src="{{.Owner.AvatarURL}}" alt="{{.Owner.Login}}" height="40"
        width="40" class="img-rounded">
      </a>
    </div>

    <div class="content">
      <header>
        <h4><a href="{{.HTMLURL}}">{{.FullName}}</a></h4>
        <p class="small"><em>{{.Language}}</em></p>
      </header>

      <p>{{.Description}}</p>
      <p class="stargazers"><em>{{.FollowingStargazersLogins}}</em></p>
    </div>

    <div class="actions">
      <a class="star btn btn-default btn-sm" href="/star/{{.FullName}}"><span class="octicon octicon-star"></span> Star</a>
    </div>
  </article>
  {{end}}
</section>
{{end}}
